@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Rambla:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rambla", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.minus-icon {
  margin-right: 5px;
}
.plus-icon {
  margin-left: 5px;
}
/* Profile page */
.profile-page-container {
}
.profile-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px 16px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.profile-grid-col-1 {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 8px;
  background-color: #dee2e6;
}
.overhead-title {
  position: absolute;
  bottom: 100%;
  right: 100%;
  translate: 120% 50%;
  font-family: "Cookie", cursive;
  font-size: 300%;
  width: max-content;
}
.overhead-title.smaller {
  font-size: 200%;
}

.profile-grid-col-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  width: 100%;
}
.profile-grid-rows {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 142px;
  border-radius: 8px;
  padding: 30px 35px 10px 35px;
  background-color: #dee2e6;
}
.test {
  overflow: scroll;
}
.profile-card-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: 183px 92px;
  padding-top: 25px;
}
.profile-card-col-1 {
  padding: 10px 35px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.profile-card-col-2 {
  padding: 10px 35px;
}
.profile-card-row-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.profile-display-name {
  font-size: large;
  font-weight: 700;
  margin-bottom: 8px;
}
.profile-display-name-input {
  width: 100%;
  max-width: 187px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.profile-bio-container {
  overflow: scroll;
}
.profile-bio {
  word-wrap: break-word;
  max-width: 187px;
}
.profile-bio-input {
  padding: 5px;
  border-radius: 5px;
}
.profile-credential-inputs {
  padding-left: 5px;
  max-width: 120px;
  margin-right: 10px;
  background-color: #dee2e6;
  border-bottom: 1px solid black;
}
.profile-card-title {
  margin-bottom: 8px;
}
.profile-point {
  padding-top: 5px;
  margin-left: 7px;
  font-family: "Cookie", cursive;
  font-size: 200%;
}
